*.pyc
*.DS_Store
dropbox.py
drop_box_sample.py
*.ipynb
.ipynb_checkpoints/
Interview_Problems/
JamesonPractice/
project_euler/
check-balanced/
concat-lists/
dec2bin/
friends/
insertion-sort/
interview_cake/apple_stock.py
josephus/
largest-sum/
linked_lists/
minesweeper/
num_inc_dec.py
numword/
primes/
rev-linked-list-in-place/
show-evens/
smallest-diff/
spiral/
staircase-steps/
tic-tac-random/
tower_hanoi.py
tower_hanoi_hb.py
word-prefixes/
zero-matrix/
hanoi_helper.py
merge2.py
recursive_index/rec_indx.py
simple_db/simple_database.py